# Machine Learning BookCamp - Zoom Camp

# 01. Intro

In [43]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

### Question 1: Version of NumPy

In [44]:
np.__version__

'1.20.1'

### Question 2: Number of records in the dataset

In [45]:
data = pd.read_csv('data_car.csv')

In [46]:
data.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [47]:
data.shape
print("Number of records in the dataset : ", data.shape[0] )

Number of records in the dataset :  11914

### Question 3: The most popular car manufacturers

In [48]:
data['Make'].value_counts()

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
Alfa Romeo          5
McLaren             5
Spyker              3
Bugatti             3
Genesis             3
Name: Make, dtype: int64

The most popular car manufacturers : Chevrolet, Ford, Volkswagen

### Question 4: Number of unique Audi car models

In [49]:
model_audi = data[data['Make'] == 'Audi']
model_audi_unique = model_audi['Model'].nunique()
print("Number of unique Audi car models : ", model_audi_unique)

Number of unique Audi car models :  34

### Question 5: Number of columns with missing values

In [50]:
data.isna().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

Number of columns with missing values : 5

### Question 6: Does the median value change after filling missing values?

In [51]:
data['Engine Cylinders'].median()

6.0

In [52]:
data['Engine Cylinders'].fillna(value= 6.0, inplace=True)
data['Engine Cylinders'].median()

6.0

Does the median value change after filling missing values? : No

### Questions 7: Value of the first element of w

In [53]:
data_lotus = data[data['Make'] == 'Lotus']
data_lotus = data_lotus[['Engine HP','Engine Cylinders']].drop_duplicates()
data_lotus.shape

(9, 2)

In [54]:
X = data_lotus.values
XTX = X.T.dot(X)

XTX_inv = np.linalg.inv(XTX)
XTX_inv.sum()

0.1547573584345781

In [55]:
y =  [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]
w = XTX_inv.dot(X.T).dot(y)

In [56]:
print("Value of the first element of w : ", w[0])

Value of the first element of w :  4.594944810094551